@import "tailwindcss";

:root {
  --text-gradient-yellow:
    linear-gradient(to right,
      hsl(45, 100%, 72%),
      hsl(35, 100%, 68%));
  --bg-gradient-jet:
    linear-gradient(to bottom right,
      hsla(50, 100%, 65%, 0.2) 0%,
      hsla(48, 100%, 55%, 0.05) 40%,
      hsla(45, 100%, 45%, 0) 100%),
    linear-gradient(135deg,
      hsla(0, 0%, 100%, 0.05) 0%,
      hsla(0, 0%, 0%, 0.15) 100%);
  --transition-1: 0.25s ease;
  --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
}

button {
  font: inherit;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

input,
textarea {
  display: block;
  width: 100%;
  background: none;
  font: inherit;
}

::selection {
  background: var(--orange-yellow-crayola);
  color: var(--smoky-black);
}

html {
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #121212;
  position: relative;
  overflow-x: hidden;
}

@theme {
  --color-background: hsl(240, 2%, 12%);
  --color-background2: #414145;
  --color-highlight: #ffe666;
  --color-base: #FFFFFF;
  --gradient-onyx: linear-gradient(to bottom right,
      hsl(0, 0%, 25%) 0%,
      hsla(0, 0%, 25%, 0) 50%);
  --color-eerie-1: hsl(240, 2%, 13%);
  --shadow-one: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
  --color-onyx: hsl(240, 1%, 17%);

  --animate-pulse: 1.5s pulse infinite ease-in-out;

  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 #39ff14;
    }

    100% {
      box-shadow: 0 0 0 14px #69ffa800;
    }
  }
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@utility flex-center-col {
  @apply flex justify-center items-center flex-col;
}

@layer components {
  .navbar-link {
    @apply py-1 px-0.5 font-[1000] hover:text-base/50;
  }

  .navbar-link.active {
    @apply text-highlight;
  }

  .about {
    @apply relative bg-background p-5 pl-7 rounded-3xl border-[1px] border-solid border-[#383838];
  }

  .about::before {
    display: block;
    height: calc(100% - 116px);
    @apply absolute top-[85px] left-2.5 w-0.25 bg-yellow-200 content-[''];
  }

  section {
    @apply text-base rounded-[20px];
  }

  section p {
    @apply mb-5 text-[#d6d6d6] text-[14px] font-[400];
  }

  section li {
    box-shadow: 0 16px 30px rgb(0, 0, 0, 0.25);
  }

  section li::before {
    content: "";
    display: block;
    position: absolute;
    border-radius: inherit;
    inset: 1px;
    z-index: -1;
    background: linear-gradient(to bottom right, hsla(240, 1%, 18%, 0.251) 0%, hsla(240, 2%, 11%, 0) 100%), hsl(240, 2%, 13%);
  }

  .heading1 {
    @apply relative mb-4 pb-2 text-[24px] font-[600] text-base;
  }

  .heading1::after {
    @apply absolute bottom-0 left-0 w-[30px] h-[5px] rounded-[3px] content-[''] bg-gradient-to-r from-yellow-200 to-yellow-400;
  }

  .heading2 {
    @apply relative text-highlight font-[1000] text-[18px] my-4 ml-6;
  }

  .heading2::before {
    @apply absolute w-9 h-0.5 left-[-42px] bottom-1/2 bg-amber-200 content-[''];
  }

  .indicator-inside {
    @apply absolute left-[-45px] top-1/2 -translate-y-1/2 size-1.75 bg-amber-100 rounded-full
  }

  .indicator-outside {
    @apply absolute left-[-48px] top-1/2 -translate-y-1/2 size-[13px] bg-amber-100/50 rounded-full
  }

  .skills {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    margin: 0 -15px;
    padding: 25px;
    padding-bottom: 25px;
    overflow-x: auto;
    scroll-behavior: smooth;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 25px;
  }

  .has-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }

  .has-scrollbar::-webkit-scrollbar-track {
    background: rgba(40, 40, 40, 0.5);
    border-radius: 5px;
  }

  .has-scrollbar::-webkit-scrollbar-thumb {
    background: #ffe666;
    border-radius: 5px;
  }

  .has-scrollbar::-webkit-scrollbar-button {
    width: 20px;
  }

  .contact-info {
    max-width: calc(100% - 46px);
    width: calc(100% - 46px);
  }

  aside button::before {
    content: "";
    position: absolute;
    inset: 1px;
    border-radius: inherit;
    background: var(--bg-gradient-jet);
    transition: var(--transition-1);
    z-index: -1;
  }

  .before-style::before {
    content: "";
    position: absolute;
    display: block;
    inset: 1px;
    background-color: var(--eerie-black-1);
    border-radius: inherit;
    z-index: -1;
  }
}