@import "tailwindcss";

:root {
  --text-gradient-yellow:
    linear-gradient(to right,
      hsl(45, 100%, 72%),
      hsl(35, 100%, 68%));
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #121212;
  font-family: 'Poppins', sans-serif;
  position: relative;
  overflow-x: hidden;
}

@theme {
  --color-background: hsl(240, 2%, 12%);
  --color-background2: #414145;
  --color-highlight: #ffe666;
  --color-base: #F7F7FF;
}

@utility flex-center-col {
  @apply flex justify-center items-center flex-col;
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@layer components {
  .navbar-link {
    @apply py-1 px-0.5 font-[1000] hover:text-base/50;
  }

  .navbar-link.active {
    @apply text-highlight;
  }

  .about {
    @apply relative bg-background p-5 pl-7 rounded-3xl;
  }

  .about::before {
    display: block;
    height: calc(100% - 116px);
    @apply absolute top-[85px] left-2.5 w-0.25 bg-yellow-200 content-[''];
  }

  section {
    @apply text-base rounded-[20px];
  }

  section p {
    @apply mb-5;
  }

  section li {
    box-shadow: 0 16px 30px rgb(0, 0, 0, 0.25);
  }

  section li::before {
    content: "";
    display: block;
    position: absolute;
    border-radius: inherit;
    inset: 1px;
    z-index: -1;
    background: linear-gradient(to bottom right, hsla(240, 1%, 18%, 0.251) 0%, hsla(240, 2%, 11%, 0) 100%), hsl(240, 2%, 13%);
  }

  .heading1 {
    @apply relative mb-4 pb-2 text-3xl font-[1000] text-base;
  }

  .heading1::after {
    @apply absolute bottom-0 left-0 w-[50px] h-[5px] rounded-[3px] content-[''] bg-gradient-to-r from-yellow-200 to-yellow-400;
  }

  .heading2 {
    @apply relative text-highlight font-[1000] text-xl my-4 ml-6;
  }

  .heading2::before {
    @apply absolute w-9 h-0.5 left-[-42px] bottom-1/2 bg-amber-200 content-[''];
  }

  .indicator-inside {
    @apply absolute left-[-45px] top-1/2 -translate-y-1/2 size-1.75 bg-amber-100 rounded-full
  }

  .indicator-outside {
    @apply absolute left-[-48px] top-1/2 -translate-y-1/2 size-[13px] bg-amber-100/50 rounded-full
  }

  .skills{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    margin: 0 -15px;
    padding: 25px;
    padding-bottom: 25px;
    overflow-x: auto;
    scroll-behavior: smooth;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 25px;
  }

  .has-scrollbar::-webkit-scrollbar {
    width: 5px;
    /* for vertical scrollbar */
    height: 10px;
    /* for horizontal scrollbar */
  }

  .has-scrollbar::-webkit-scrollbar-track {
    background: rgba(40, 40, 40, 0.5);
    border-radius: 5px;
  }

  .has-scrollbar::-webkit-scrollbar-thumb {
    background: #ffe666;
    border-radius: 5px;
  }

  .has-scrollbar::-webkit-scrollbar-button {
    width: 20px;
  }
}